
h4 {
	text-transform:uppercase; 
	font-weight:bolder;
}

#content-area {
	margin: 100px 0;
}

.carousel-caption img.poster {
	/*min-width: 0;
	left: 0;
	right: 0;
	margin: 0 auto; */
	
	vertical-align: middle;
	max-height: 500px;
}

.carousel-caption {
	display: table;
	width: 80%;
	padding-right: 15%;
}

.carousel-caption .image {
	display: table-cell;
	vertical-align: middle;
}


.carousel-caption .info {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 50px;
}

.bubbles > div {
	margin-bottom: 50px !important;
}


.modal-body {
	padding: 15px 30px;
}

.featurette-heading {
	margin-top: 30px;
}
.featurette-divider {
	margin: 30px 0;
}

.br-wrapper, .br-widget {
	display: inline;
	vertical-align: middle;
	margin: auto 10px;
}

.rating-results {
	
}

.rating-votes {
	display: block;
	padding-top: 50px;
	float: left;
}

.modal.movie-detail img {
	float:right;
	padding: 0 20px 10px 20px;
	max-width: 200px;
	max-height: 100%;
	vertical-align: middle;
}


button.btn-circle, 
.btn-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 1px solid gray;
	background: rgba(204,204,204,0.5);
}

button.btn.btn-primary {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding-left: 10px;
	text-align:center;
	}

footer {
	margin: 30px 100px;
}

footer .info a {
	color: inherit;
}